*, body {
    /* === */

    
    font-size: 11px;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, 'Open Sans', sans-serif;
    box-sizing: border-box;
    box-sizing: content-box;
    border: 0;
    margin: 0;


    /* === */
}